.appointment-history {
  width: 95%;
  height: 100%;
  /* border: 2px solid; */
  max-height: 50vh;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.932);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  @media (max-width: 767px) {
    /* width: 150vw; */
    /* margin-top: 10%; */
    height: 100%;
  }
}
.aparent {
  @media (max-width: 767px) {
    width: 100%;
    /* margin-left: 1%; */
    margin-right: 2%;
  }
  display: flex;
  justify-content: center;
  /* border: 2px solid; */
  height: 40%;
}
.scrollbar {
  width: 96%;
  height: 95%;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
  min-height: 120px;
  border: 0.2px solid;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow: scroll;
  /* display: flex; */
  /* border: 2px solid; */
  /* position: relative; */
  background-color: rgba(57, 53, 53, 0.066);
  background: #F0F5FC;
  border: 1px solid #E4E8F1;
  border-radius: 8px;
}
.line {
  /* flex: 1; */
  height: 33vh;
  margin-left: 1%;
  margin-top: 0%;
  margin-bottom: 0%;

  width: 0.2%;
  /* height: inherit; */
  background-color: #01b2a3;
  border: 1px solid black;
}
.scrollbar::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  /* background-color: antiquewhite; */
}

h4 {
  margin: 0px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 3%;
}
