.appointment-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #e4e8f1;
    padding: 0.5%;
    margin: 1%;
    /* margin-left: 0px; */
    border-radius: 7px;
    width: 100%;
    height: 90%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.447);

  }
  .appointment-content:hover{
    transform: scale(1.01);
    background-color: #00000000;
  }
  .datetime {
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
  }
  .treatment {
    @media (max-width:767px) {
      width: 20%;
      margin-right: 1%;
      /* font-size: 7px; */
    }
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
  }
  .note-print {
    /* width: 35%; */
    @media (max-width:767px) {
        width: 35%;
        
    }
    width: 20%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color:rgba(0,0,0,0);
    /* border: 2px solid; */
    box-sizing: border-box;
    overflow: hidden;
  }
  
  #note {
    /* margin: 2%; */
    /* font-size: 24px; */
    /* padding-top: 4%; */
    @media (max-width:767px) {
        font-size: 8px;
        
    }
    width: 13%;
    font-family: "Inria Sans";
    font-style: normal;
    font-weight: 1000;
    font-size: 19px;
    line-height: 18px;
    cursor: pointer;
    /* identical to box height */

    color: #01c6b2;
    margin-left: 2px;
  }
  #print {
    @media (max-width:767px) {
    width: 80%;
    
    }
    margin: 2%;
    margin-left: 15%;

    cursor: pointer;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    border-radius: 5px;
  }
  #print:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 3px;
  }
  #paper {
    @media (max-width:767px) {
        width: 10px;
        display: none;
        
    }
    cursor: pointer;
    width: 20px;
    height: 10%;
    margin: 2%;
  }
  #note:hover{
    text-decoration: underline;
  }
  #paper:hover{
    transform: scale(1.09);
  }
  #appointment-time {
    @media (max-width:767px) {
    
    font-size: 10px;
    overflow-wrap: break-word;
    }
    font-family: "Inria Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    /* Gray/03 */

    color: #bdbdbd;
  }
  #open {
    @media (max-width:767px) {
    font-weight: 700;
    font-size: 10px;
    }
    font-family: "Inria Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    color: #000000;
  }
  #appointment-date {
    @media (max-width:767px) {
        font-size: 11px;
        
    }
    font-family: "Inria Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    color: #000000;
  }
  #treat {
    @media (max-width:767px) {
    font-size: 12px;
    /* background-color: #000000; */
    }
    font-family: "Inria Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    /* Gray/03 */

    color: #bdbdbd;
  }