
.navbar{
    @media(max-width:767px) {
        width:100vw;
        height:12vh;
        margin-bottom: 1%;
        /* margin-bottom:5vh; */
    }

    @media(min-width:1024px) {
        width:100%;
    }
    /* width: 100vw; */
    height: 12vh;
    background-color:white;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.3);
    box-sizing: border-box;
    /* border: 0.1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#logo{
    width: 90px;
    margin: 20px;
    border-radius: 50px;
     /* border-radius: 50%; */
}
.child{
    width: auto;
    height: 8vh;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:white;
    /* display: inline-block; */
}
.child img{
    width:70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    margin-right: 0px;
    margin-top: 8%;
    transition: transform 0.5s ease-in-out;

}
#menu-arrow{
    cursor: pointer;
    /* margin-top: 15px; */
    margin-right: 2px;
    width: 10px;
    height: 10px;
    color: rgb(47, 219, 219);
    /* border:2px solid black; */
    background-color:white;
}
#menu-arrow:hover{
    transform: scale(1.2);
    background-color: rgb(207, 222, 219);
}
.menu{
    z-index: 2;
    position: absolute;
    top:50px;
    right:15px;
    border-radius: 20px;
    /* background-color: rgb(9, 185, 192); */
    /* border: 0.5px dotted black; */
    margin: 1px;
}
.menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 4px;
}
.menu ul li{
    cursor: pointer;
    padding: 5px;
    width:90%;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 13px;

}
.menu ul hr{
    padding: 1px;
    margin: 0px;

}
.menu ul li:hover{
    background-color: #01C6B2;
    transform: scale(1.03);

}
#profile-pic:hover{
    transform: scale(3);
}