.notes {
    width: 20%;
    /* height: 35vh; */
    height: 93%;
    background-color: white;
    margin: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    z-index: 1;
    box-sizing: border-box;
    /* border: 2px solid; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 1%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    @media (max-width:767px) {
      width: 30%;
      height: 80%;
      border-radius: 5px;
      
      }
    
  }
  .notes h4 {
    @media (max-width:767px) {
      font-size: 12px;
      font-weight: 900;
      
      }
    height: 5%;
    margin-bottom: 7%;
    font-size: medium;
    font-weight: bold;
    text-align: start;
    margin-top: 1%;
    margin-left: 3%;
  }
  h4{
    margin: 0px;
    padding: 0px;
  }
  #save {
    @media(max-width:767px){
        height:20%;
        width:70%;
        font-size: 10px;
        padding-bottom: 3%;
    }
    cursor: pointer;
    padding: 2px;
    background-color: rgba(1, 198, 178, 1);
    margin-top: 1%;
    /* margin-bottom: 1%; */
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    right:10%; 
    bottom: 6%;
    width: 28%;
    height: 18%;
    border-radius: 6px;
  }
  #save:hover{
    transform: scale(1.04);
  }
  
  textarea {
    @media (max-width:767px) {
      font-size: 10px;
      
      }
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.055);
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 0%;
    box-sizing: border-box;
    width: 95%;
    height: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.237);
    border: none;
    resize: none;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
  }