.buffering {
    width: 40px;
    height: 40px;
    border: 5px solid #05b194;
    border-bottom-color:rgb(0, 255, 140) ;
    /* margin-top: 60%; */
    position:absolute;
    top: 50%;
    left: 47%;
  
    border-radius: 50%;
    /* z-index: 10; */
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    to{
      transform: rotate(0deg);
    }
  
    from {
      transform: rotate(360deg);
    }
  }